body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    background-image: url('/static/shahjii.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header {
    color: #fff;
    padding: 20px;
    text-align: center;
}

.restaurant-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.food-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; /* Adding space between items */
}

.food-item {
    width: calc(25.333% - 5px); /* Adjusting width to consider the gap */
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.food-item img {
    width: 100%;
    border-radius: 5px;
}

.price {
    font-size: 1.2rem;
    color: #007bff;
}

.order-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.order-btn:hover {
    background-color: #0056b3;
}



