<!DOCTYPE html>
<html>
<head>
    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<style>
    .no-underline {
        text-decoration: none;
        color: blue; /* This keeps the link color the same as the surrounding text */
    }
</style>

<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="name" name="name">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <br>
            <button type="submit">Login</button>
            <h4>Don't have an account? <a href="/register/" class="no-underline">Register here</a></h4>

        </form>
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
